.input-card-container{
    height: 200px;
    width: 400px;
    margin-right: 40px;
    box-shadow: black 10px;
    padding: 10px;
    justify-content: center;
    box-shadow: #777 2px 2px 10px;
    border-radius: 8px;
}
.input-container{
    margin-top: 25px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.input-style{
    width: 240px;
}
.button-container{
    width: 120px;
}
.container{
    display: flex;
    box-shadow: black 10px;
    padding: 10px;
    justify-content: center;
    box-shadow: #777 2px 2px 10px;
    border-radius: 8px;
    margin-top: 150px;
}